{% extends "main/header.html" %}

{% block content %}
<html>
<head>
    <title>ebazar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/allproduct.css' %}" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
</head>

<body>
<div class="logo">
    <a href="/#"><img src="{% static 'images/logo.png' %}"></a>
</div>

<hr>
<div class="container">
    <div class="top">
        <div class="top_left">
            <a href="/#">Home</a>
            {% if user.is_authenticated %}
            <a href="/sell">Sell</a>
            {% else %}
            <a href="/login">Sell</a>
            {% endif %}
            <a href="/allproduct">All Products</a>
               <div class="search"> <form method="GET" action="{% url 'main:allproduct' %}">
                    {% csrf_token %}
                    <input type="text" placeholder="Product name..." name="q" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
                     <button>
                    <i class="fa fa-search"></i>
                </button>
             </form>
            </div>
        </div>
        <div class="top_right">
            {% if user.is_authenticated %}
                <a  href="#">Hi, {{user.username}}</a>
                <a  href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>


            {% else %}

                <a  href="/login">Login/Register</a>

            {% endif %}

            {% if user.is_authenticated %}

            <a href="/profile"><i class="fa-solid fa-user"></i></a>

            {% else %}

            <a href="/login"><i class="fa-solid fa-user"></i></a>

            {% endif %}

        </div>
        </div>
</div>
   <div class="popular_brands">
    <div class="popular_row">
        <h1><a href="/allproduct">All Products</a></h1>
    </div>
     {% for sell in product %}
         <div class="brands_img">
            <ul>
            <li><a href="/detail/{{sell.id}}"><img src="{{sell.image.url}}" /></a></li>
            <li><a href="/detail/{{sell.id}}"><span>{{sell.name}}</span></a></li>
            <li><p>Rs. {{sell.price}}</p></li>
        </ul>
    </div>
     {% endfor %}
    </div>

    </div>
    <hr>
    <div class="bottom">
    <div class="buy">
        <ul>
        <li><h3>Buy</h3></li>
        <li><a href="/register">Registration</a></li>
        <li><a href="/login">Login</a></li>
        </ul>
        </div>
        <div class="Buy">
        <ul>
        <li><h3>About us</h3></li>
        <li><a href="#">Company info</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Advertise with us</a></li>
        <li><a href="#">Policies</a></li>
        </ul>
        </div>
        <div class="buy">
        <ul>
        <li><h3>Help and Contact</h3></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Contact us</a></li>
        </ul>
        </div>
    </div>
</body>
</html>

{% endblock %}
