body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo img{
    width: 110px;
    height: 70px;
    margin-top: 2px;
    margin-left: 10px;
}
.container{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 50px;
}
.top{
    position: absolute;
    left: 10%;
    top: 10%;
}
.top_left a{
    display: inline-flex;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.search{
    position: absolute;
    left: 100%;
    top: 20%;
}
.search button{
    position: absolute;
}
.top_left a:hover{
    text-decoration: underline;
    color: red;
    opacity: 0.7;
}
.top_right a{
    display: inline-flex;
    text-decoration: none;
    padding: 20px;
}

.top_right{
    position: absolute;
    top: 0%;
    right:-350%;
    font-size: 22px;
}
.top_right a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.top_right a:hover{
    color: red;
    opacity: 0.8;
}
.top_right i{
    color: black;
}
.top_right i:hover{
    color: red;
    opacity: 0.8;
}
hr{
    height: 1px;
}
.detail{
    position: absolute;
    left: 0.8%;
    box-sizing: border-box;
    width: 500px;
    height: 100%;
    background-color: #F7F5F5;
    border-radius: 10px;
    display: inline-flex;
}
.detail1{
    position: absolute;
    left: 34%;
    box-sizing: border-box;
    width: 500px;
    height: 100%;
    background-color: #F7F5F5;
    border-radius: 10px;
    display: inline-flex;
}
.detail2{
    position: absolute;
    left: 67.2%;
    box-sizing: border-box;
    width: 500px;
    height: 100%;
    background-color: #F7F5F5;
    border-radius: 10px;
    display: inline-flex;
}
.image_section h5{
    padding-left: 20px;
}
.image_section img{
    margin-top: 20px;
    margin-left: 30px;
    width: 400px;
    height: 400px;
    border-radius: 30px;
}
h5{
    color: black;
}
.description_head{
    padding-top:10px;
    margin-left: 15px;
}
.comments_head{
    padding-top: 10px;
    margin-left: 10px;
}
.new_people input[type="submit"]{
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
}
.bottom{
    margin-top: 10px;
    display: inline-flex;
}
.bottom ul{
    list-style-type: none;
}
.bottom li{
    color: black;
    opacity: 0.6;
}
.bottom h3{
    font-size: 18px;
}
.bottom a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.bottom a:hover{
    color: red;
}
.buy{
    padding-right: 100px;
}
input[type="text"]{
    margin-left: 30px;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border-color: none;
}
button{
    width: 50px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    background-color: white;
}
button i{
    margin-top: -10px;
    font-size: 20px;
}
.top button a:hover{
    text-decoration: none;
    color: red;
}